body {
 background-color: #000000; /*Black background*/
 color: #FFFFFF;            /*White text*/
 padding: 0px;              /*Unuseabale spac from the document body.*/
 margin: 0px;
}
h1 {
  font-family: 'Changa One', cursive;     /*Header font*/
  text-align: center;                     /*Center headers in whatever container they are in*/
}
nav {
  margin: 0;                              /*No navbar trim*/
  padding: 0;
  overflow: hidden;
  background-color: #333333;                /*Unactive button color*/
}
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
  background-color: #111;
}
